.lp1{
    position: absolute;
    top: 230px;
left: 152px;
width: 411px;
height: 257px;
text-align: left;
font: normal normal 900 100px/120px Avenir;
letter-spacing: 0px;
color: #5861AE;
text-transform: capitalize;
opacity: 1;
}
.lp2{
    position: absolute;
    top: 501px;
left: 151px;
width: 335px;
height: 27px;
text-align: left;
font: normal normal normal 20px/26px Avenir;
letter-spacing: 0.8px;
color: #565657;
text-transform: capitalize;
opacity: 1;
}
.lp3{
    position: absolute;
    top: 602px;
left: 152px;
width: 189px;
height: 22px;
text-align: left;
font: normal normal normal 16px/26px Avenir;
letter-spacing: 0.64px;
color: #565657;
text-transform: capitalize;
opacity: 1;
}
.lp4{
    position: absolute;
    top: 640px;
left: 152px;
width: 150px;
height: 50px;
border: 2px solid #4552C1;
border-radius: 4px;
opacity: 1;
font: normal normal bold 15px/20px Open Sans;
letter-spacing: 0.3px;
color: #4552C1;
opacity: 1;
}
.rp{
    position: absolute;
    top: 81px;
left: 730px;
width: 710px;
height: 769px;
background: #B9C0FD1A 0% 0% no-repeat padding-box;
opacity: 1;
}
.rp1{
    position:absolute;
    top: 182px;
left: 130px;
width: 128px;
height: 44px;
text-align: left;
font: normal normal medium 32px/60px Avenir;
letter-spacing: 1.28px;
color: #4552C1;
text-transform: uppercase;
opacity: 1;
}
.ll1{
    position:absolute;
    top: 275px;
left: 134px;
width: 322px;
height: 14px;
text-align: left;
font: normal normal normal 12px/15px Open Sans;
letter-spacing: 0.42px;
color: #5861AE;
opacity: 1;
}
.eml{
    position: absolute;
    top: 299px;
left: 135px;
width: 322px;
height: 22px;
text-align: left;
font: normal normal 600 17px/27px Open Sans;
letter-spacing: 0.6px;
color: #EF1A1A;
opacity: 1;
}
.errmsg{
    position:relative;
    top:300px;
    left:140px;
    color:#EF1A1A;

}
.ll2{
    position:absolute;
    top:376px;
left: 134px;
width: 322px;
height: 14px;
text-align: left;
font: normal normal normal 12px/15px Open Sans;
letter-spacing: 0.42px;
color: #5861AE;
opacity: 1;
}
.pw{
    position: absolute;
    top: 400px;
left: 135px;
width: 322px;
height: 19px;
text-align: left;
font: normal normal 600 17px/27px Open Sans;
letter-spacing: 3.4px;
color: #424548;
opacity: 1;
}
.rp img{
    position:absolute;
    top: 385.19px;
left: 506.27px;
width: 15px;
height: 21px;
/* background: transparent url('img/padlock.png') 0% 0% no-repeat padding-box; */
opacity: 1;
}
.rp h6{
    position:absolute;
    top: 440px;
left: 386px;
width: 140px;
height: 22px;
text-align: left;
font: normal normal medium 16px/26px Avenir;
letter-spacing: 0.64px;
color: #4552C1;
text-transform: capitalize;
opacity: 1;
}
.sibtn{
    position:absolute;
    top: 530.5px;
left: 242.54px;
width: 150px;
height: 50px;
background: #4552C1 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
font: normal normal bold 15px/20px Open Sans;
letter-spacing: 0.3px;
color: #FFFFFF;
opacity: 1;

}
.eml,.pw{
    border:none;
    background: #F8F9FF 0% 0% no-repeat padding-box;;
    outline: none;
    border-bottom: 1px solid #5861AE;
    opacity: 1;
}