.mm {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 1440;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 48px #0000000f;
  opacity: 1;
}
.one {
  position:absolute;
  top: 25px;
  left: 119px;
  width: 108px;
  height: 27px;
  text-align: left;
  font: normal normal 900 20px/27px Avenir;
  letter-spacing: 1.8px;
  color: #5861ae;
  text-transform: uppercase;
  opacity: 1;
}
.two {
  position:absolute;
  top: 0px;
  left: 991px;
  width: 113px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  font: normal normal normal 14px/19px Avenir;
  letter-spacing: 1.05px;
  color: #565657;
  text-transform: capitalize;
}
.three {
  position:absolute;
  top: 0px;
  left: 1103px;
  width: 113px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  font: normal normal normal 14px/19px Avenir;
  letter-spacing: 1.05px;
  color: #565657;
  text-transform: capitalize;
}
.four {
  position:absolute;
  top: 0px;
  left: 1216px;
  width: 113px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  font: normal normal normal 14px/19px Avenir;
  letter-spacing: 1.05px;
  color: #565657;
  text-transform: capitalize;
}
.five {
  position:absolute;
  top: 0px;
  left: 1328px;
  width: 113px;
  height: 80px;
  background: #5861ae 0% 0% no-repeat padding-box;
  color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  text-align: center;
  font: normal normal medium 14px/19px Avenir;
  letter-spacing: 1.05px;
}
button {
  border: none;
  outline: none;
}
