.summcss{
    box-sizing: border-box;
    margin-left:30px;
    transform: scale(0.9); 
    transform-origin: 0 0;
}
.summary-container{
    position: absolute;
    top: -200px;
left: 514px;
width: 940px;
height: 1050px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.sumnav{
    position: absolute;
    top: 0px;
left: 0;
width: 926px;
height: 70px;
background: #5861AE 0% 0% no-repeat padding-box;
opacity: 1;
}
.sum{
    position: absolute;
    top: 0px;
left: 18px;
width: 102px;
height: 30px;
text-align: left;
font: normal normal 600 22px/20px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.close{
    position: absolute;
    top: 30px;
left: 855px;
width:19px;
height:19px;
opacity: 1;
background: none;
border:none;
outline:none;
color:#FFFFFF;
}
.navdown{
    position: absolute;
    top: 72px;
left: 0px;
width: 926px;
height: 98px;
background: #F4F9FF 0% 0% no-repeat padding-box;
opacity: 1;
}
.loc{
    position:absolute;
    top: 36.25px;
left: 34.4px;
width: 204px;
height: 27px;
text-align: left;
font: normal normal 600 16px/27px Open Sans;
letter-spacing: 0.56px;
color: #3E3F40;
opacity: 0.13;
outline:none;
border: none;
border-bottom: 1px solid #5861AE;
}
.add{
    position:absolute;
    top: 21px;
left: 290px;
width: 121px;
height: 22px;
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}
.hash1{
    position:absolute;
    top: 52px;
left: 290px;
width: 300px;
height: 22px;
text-align: left;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}
.ph{
position: absolute;
    top: 20px;
left: 578px;
width: 51px;
height: 22px;
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}
.hash2{
    position: absolute;
    top: 51px;
left: 578px;
width: 200px;
height: 22px;
text-align: left;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}
.details{
    position: absolute;
    top: 190px;
left: 33px;
width: 91px;
height: 19px;
text-align: left;
font: normal normal 600 14px/19px Open Sans;
letter-spacing: 0.42px;
color: #3B3737;
opacity: 1;
}
.totalsum{
    position: absolute;
    top: 486px;
left: 32px;
width: 848px;
height: 49px;
background: #5861AE 0% 0% no-repeat padding-box;
opacity: 1;
}
.tl{
    position: absolute;
    top: -3px;
left: 643px;
width: 52px;
height: 24px;
text-align: left;
font: normal normal bold 18px/24px Open Sans;
letter-spacing: 0.43px;
color: #FFFFFF;
text-transform: capitalize;
opacity: 1;
}
.rs{
    position: absolute;
    top: -8px;
left: 738px;
width: 71px;
height: 30px;
text-align: left;
font: normal normal bold 22px Open Sans;
letter-spacing: 0.53px;
color: #FFFFFF;
opacity: 1;
}
.addr{
    position: absolute;
    top: 566px;
left: 35px;
width: 57px;
height: 19px;
text-align: left;
font: normal normal 600 14px/19px Open Sans;
letter-spacing: 0.42px;
color: #3B3737;
opacity: 1;
}
.addradd1{
    position: absolute;
    top: 610px;
left: 35px;
width: 236px;
height: 85px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #5861AE;
border-radius: 4px;
opacity: 1;
}
.hm{
    position: absolute;
    top: -8px;
left:9px;
width: 54px;
height: 24px;
text-align: left;
font: normal normal bold 18px/24px Open Sans;
letter-spacing: 0.18px;
color: #3E3F40;
opacity: 1;
}
.imgtick{
    position: absolute;
    top: 5px;
left: 205px;
width: 17px;
height: 17px;
opacity: 1;
}
.hmeaddr{
    position: absolute;
    top: 15px;
left: 9px;
width: 235px;
height: 44px;
text-align: left;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0.16px;
color: #3E3F40;
opacity: 1;
}
.addradd2{
    position:absolute;
    top: 610px;
left: 292px;
width: 236px;
height: 85px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #B7B7B7;
border-radius: 4px;
opacity: 1;
}
.ot{
    position:absolute;
    top: -8px;
left: 9px;
width: 53px;
height: 24px;
text-align: left;
font: normal normal bold 18px/24px Open Sans;
letter-spacing: 0.18px;
color: #3E3F40;
opacity: 1;
}
.otaddr{
    position: absolute;
    top: 20px;
left: 9px;
width: 198px;
height: 44px;
text-align: left;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0.16px;
color: #3E3F40;
opacity: 1;
}
.adn{
    position: absolute;
    top: 625px;
left: 558px;
width: px;
height: 24px;
text-align: left;
font: normal normal bold 18px Open Sans;
letter-spacing: 0.18px;
color: #5861AE;
opacity: 1;
border:none;
background: none;
}
.btm{
    position: absolute;
    top: 861px;
left: 0px;
width: 926px;
height: 70px;
background: #F4F4F4 0% 0% no-repeat padding-box;
box-shadow: 0px -3px 6px #00000015;
opacity: 1;
}
.cn{
    position: absolute;
    top: 15px;
left: 770px;
width: 150px;
height: 42px;
background: #5861AE 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
text-align: center;font: normal normal bold 16px/22px Open Sans;
letter-spacing: 0.16px;
color: #FFFFFF;
border:none;

}
.a{
    position: absolute;
    top: 233px;
    left: 50px;
    width: 55px;
    height: 24px;
    text-align: left;
    font: normal normal normal 18px/24px Open Sans;
    letter-spacing: 0.43px;
    color: #1B2734;
    opacity: 1;
     
}
.b{
    position: absolute;
    top: 291px;
left: 50px;
width: 46px;
height: 24px;
text-align: left;
font: normal normal normal 18px/24px Open Sans;
letter-spacing: 0.43px;
color: #1B2734;
opacity: 1;

}
.c{
    position: absolute;
    top: 350px;
left: 50px;
width: 46px;
height: 24px;
text-align: left;
font: normal normal normal 18px/24px Open Sans;
letter-spacing: 0.43px;
color: #1B2734;
opacity: 1;

}
.d{
    position: absolute;
    top: 238px;
left: 250px;
width: 119px;
height: 22px;
text-align: left;
font: italic normal normal 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;

}
.e{
    position: absolute;
    top: 300px;
left: 250px;
width: 119px;
height: 22px;
text-align: left;
font: italic normal normal 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;

}
.f{
    position: absolute;
    top: 360px;
left: 250px;
width: 119px;
height: 22px;
text-align: left;
font: italic normal normal 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;

}
.g{
    position: absolute;
    top: 235px;
left: 300px;
width: 62px;
height: 22px;
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;

}
.s1{
    
        position: absolute;
        top: 150px;
    left: 50px;
    width: 300px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
    
}
.s{
    position: absolute;
    top: 150px;
left: 700px;
width: 100px;
height: 22px;
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}
/* services 2 */

.s2{
    position: absolute;
        top: 180px;
    left: 50px;
    width: 300px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
}
.t{
    position: absolute;
    top: 180px;
left: 700px;
width: 100px;
height: 22px;
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}
/* services3  */
.s3{
    position: absolute;
        top: 200px;
    left: 50px;
    width: 300px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
}
.u{
    position: absolute;
    top: 200px;
left: 700px;
width: 100px;
height: 22px;
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}
/*  services 4*/
.s4{
    position: absolute;
        top: 220px;
    left: 50px;
    width: 300px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
}
.v{
    position: absolute;
    top: 220px;
left: 700px;
width: 100px;
height: 22px;
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}
/* services 5 */
.s5{
    position: absolute;
        top: 240px;
    left: 50px;
    width: 300px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
}
.w{
    position: absolute;
    top: 240px;
left: 700px;
width: 100px;
height: 22px;
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}
/* services 6 */
.s6{
    position: absolute;
        top: 260px;
    left: 50px;
    width: 300px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
}
.x{
    position: absolute;
    top: 260px;
left: 700px;
width: 100px;
height: 22px;
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}
/* services 7 */
.s7{
    position: absolute;
        top: 285px;
    left: 50px;
    width: 300px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
}
.y{
    position: absolute;
    top: 285px;
left: 700px;
width: 100px;
height: 22px;
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}
.s8{
    position: absolute;
    top: 330px;
left: 690px;
width: 74px;
height: 22px;
text-align: left;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
font-weight: bold;

}
.s9{
    position: absolute;
    top: 330px;
left: 725px;
width: 74px;
height: 22px;
text-align: left;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
font-weight: bold;

}
.s10{
    position: absolute;
    top: 370px;
left: 650px;
width: 74px;
height: 22px;
text-align: left;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
font-weight: bold;

}
.s11{
    position: absolute;
    top: 370px;
left: 710px;
width: 74px;
height: 22px;
text-align: left;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
font-weight: bold;

}



