.main-content1{
    position: absolute;
    top: 0px;
left: 20px;
width: 1440px;
height: 80px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 48px #0000000F;
opacity: 1;

}
.main11{
    position: absolute;
    top: 27px;
left: 45px;
width: 108px;
height: 27px;
text-align: left;
font: normal normal 900 20px/27px Avenir;
letter-spacing: 1.8px;
color: #5861AE;
text-transform: uppercase;
opacity: 1;

}
.main21{
    position: absolute;
    top: 34px;
left: 1035px;
width: 48px;
height: 19px;
text-align: center;
font: normal normal normal 14px/19px Avenir;
letter-spacing: 1.05px;
color: #565657;
text-transform: capitalize;
opacity: 1;


}
.main31{
    position: absolute;
    top: 34px;
left: 1150px;
width: 46px;
height: 19px;
text-align: center;
font: normal normal normal 14px/19px Avenir;
letter-spacing: 1.05px;
color: #565657;
text-transform: capitalize;
opacity: 1;
}
.main41{
    
    position: absolute;
    top: 0px;
left: 1227px;
width: 214px;
height: 64px;
background: #5861AE 0% 0% no-repeat padding-box;
opacity: 1;

}
.main411{


top: 20px;
left: 1307px;
width: 96px;
height: 22px;
text-align: center;
font: normal normal medium 16px/22px Avenir;
letter-spacing: 1.2px;
color: #FFFFFF;
text-transform: capitalize;
opacity: 1;

}
/*

.create-main1{
    position:absolute;
    top: -5.5px;
left: 0px;
width: 57px;
height: 933px;
background: #5861AE 0% 0% no-repeat padding-box;
opacity: 1;

}
.home1{
    position: absolute;
    top: 119px;
    left: 18px;
    width: 22px;
    height: 22px;
    opacity: 1; 
}
.innerbox1{
    position: absolute;
    top: 169px;
left: 0px;
width: 57px;
height: 47px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;

}
.plus1{
    position: absolute;
    top: 2px;
left: 18px;
width: 22px;
height: 22px;
opacity: 1;

}
.list1{
    position: absolute;
    top: 247px;
left: 16px;
width: 25px;
height: 18px;
opacity: 1;
}

/*
.create-main1{
    position: absolute;
    top: -1.5px;
left: 0px;
width: 57px;
height: 933px;
background: #5861AE 0% 0% no-repeat padding-box;
opacity: 1;
}
.home1{
    position: absolute;
    top: 119px;
left: 18px;
width: 22px;
height: 22px;
opacity: 1;
}
.innerbox1{
    position:absolute;
    top: 169px;
left: 0px;
width: 57px;
height: 47px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.plus1{
    position: absolute;
    top: 14px;
left: 18px;
width: 22px;
height: 22px;
opacity: 1;
}
.list1{
    position: absolute;
    top: 247px;
left: 16px;
width: 25px;
height: 18px;
opacity: 1;
}*/